.jumbotron {
    background-color: palegreen;
    color: black;
    margin-top: 50px;
    background-image: url("../images/fondo.png");
    background-size: cover;
    height:100px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: palegreen;
    margin-bottom: 0px;
    margin-top: 25px;
}

.btn{
    background-color: grey;
}

.card-venta{
    
    flex: 1 120px;
   
}

.btn-compra{
    width: 100%;
    border-radius : 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.f{
    margin: 1%;
    margin-bottom: 0px;
    margin-top: 0px;
}
